* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body {
    background-image: url(https://alfred.alboompro.com/resize/width/2400/url/storage.alboom.ninja/sites/1782/albuns/471996/casamento-aurora-paul-casal-clube-caiaras-rj-gustavo-medeiros-fotografia-niteri-19.jpg?t=1562692965);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    font-family: 'Roboto', sans-serif;;
    

}

#logo {
    height: 500px;
    width: 530px;
    border-radius: 50%;
    opacity: 80%;
}

label {
    display: block;
    color: white;
}

#servicos {
    display:
    text-align: center;
}
legend {
    color: white;
}
.metodopagamento label, opcionais label {
    display: inline-block;
    margin:  0 10px 0 0;
}

.container {
    padding: 10 35%;
    text-align: center;
}

input, textarea {
    margin-bottom: 15px;
    transition: all 0.5 ease-in-out;
}

textarea:hover {
    background-color: purple;
}