@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;   
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 20px;
    background-color: black;
    color: white;
    flex-wrap: wrap;
    
}
h1::first-letter{
    color: red;
}

header ul {
    display: flex;
    gap: 10px;
    
}

header ul li {
    list-style: none;
}


header li a{
    text-decoration: none;
    color: white;
    padding: 7px ;
    border-radius: 9px;
    transition: all .3s ease-in-out;
    display: block;
    width: 130px;
    text-align: center;
    
}


header li a:hover {
    background-color: red;
    color: black;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 0 60px;
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin-top: 40px;
    text-align: center;
}

.card-game img {
    height: 350px;
    width: 100%;
    border: 1px solid lightgray;
    object-fit: cover;
    background-image: cover;
    transition: all 0.3s ease-in-out;
}

.card-game img:hover {
    transform: scale(1.1);
}

.container {
    height: 350px;
    width: 100%;
    border: 1px solid lightgray;
    overflow: hidden;
}

.btn {
    margin-top: 30px;
    padding: 7px;
    width: 100px;
    font-weight: ;
    border-radius: 5px;
    border: none;
    color: gray;
    transition: all 0.3s ease-in-out;
}
.btn:hover {
    background-color: red;
    color: black;


}