* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main p {
 background-color: blue;

}

.inline-block {


    display: inline-block;
    width:49%;
    padding: 15px;
    border: 2px solid black;
    

}

.inline {

    background-color: blue;
   display: inline;
   width: 49%;

}

button{
  
    border: 10px solid blue;
    border-radius: 50%;
    padding: 15px;
}