@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;   
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 20px;
    background-color: black;
    color: white;
    flex-wrap: wrap;
    
}
h1::first-letter{
    color: red;
}

header ul {
    display: flex;
    gap: 10px;
    
}

header ul li {
    list-style: none;
}


header li a{
    text-decoration: none;
    color: white;
    padding: 7px ;
    border-radius: 9px;
    transition: all .3s ease-in-out;
    display: block;
    width: 130px;
    text-align: center;
    
}


header li a:hover {
    background-color: red;
    color: black;

}
