header {
background-color: black;
color: white;
text-align: center;
padding: 10px;
}

#banner {
    background-image: ./;
    padding: 250px 150px;
    background-size: cover;
}

.text-banner {
    background-color: rgba(255, 255, 255, 0.412);
    padding: 15px;
}

.position {
    position: relative;
    bottom: 0px;
    right: 0;

}

img {
    width: 100px;
    position: absolute;
}

.whatsapp {
    width: 100px;
    height: 100px;
    position: fixed;

}